opencv-python-headless>=4.8.0
mediapipe==0.10.14
PyAutoGUI>=0.9.54
numpy>=1.24.3
screen-brightness-control>=0.22.0
requests>=2.31.0
uiautomation>=2.0.18
pvporcupine>=3.0.1
SpeechRecognition>=3.10.1
python-dotenv>=1.0.0
pvrecorder>=1.2.1
comtypes>=1.2.0
pycaw>=20230407
easyocr>=1.7.1
psutil>=5.9.6
beautifulsoup4>=4.12.2
edge-tts>=6.1.9
streamlit>=1.30.0
